Flask>=2.0,<4
Werkzeug>=2.0,<4
beautifulsoup4>=4.9,<5
html5lib>=1.1,<2
Markdown>=3.3.4,<4; python_version < "3.12"
Markdown>=3.3.6,<4; python_version >= "3.12"
Pillow>=8.1,<13
requests>=2.25,<3
waitress>=1.4.4,<4
