Flask>=3.1,<4
Jinja2>=3.1,<4
MarkupSafe>=2.1,<4
Werkzeug>=3.1,<4
beautifulsoup4>=4.10,<5
html5lib>=1.1,<2
itsdangerous>=2.2,<3
Pillow>=11.0,<13
pillow-svg @ git+https://github.com/smallsco/pillow-svg.git@6b58c2a2d8502d07770ce81cea56ed68e266a6f1
requests>=2.26,<3
