#!/usr/bin/make -f

export PYBUILD_NAME = gb-proxy
export PYBUILD_SYSTEM = pyproject

%:
	dh $@ --buildsystem=pybuild

override_dh_install:
	dh_install
	install -Dpm 0640 config.py.example \
		debian/gb-proxy/etc/gb-proxy/config.py
	install -Dpm 0644 packaging/gb-proxy.sysconfig \
		debian/gb-proxy/etc/default/gb-proxy

override_dh_fixperms:
	dh_fixperms
	chmod 0640 debian/gb-proxy/etc/gb-proxy/config.py

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start
